<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="cn.luwanglin.springframework.test.bean.UserService"/>
    <bean class="cn.luwanglin.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <bean id="beforeAdvice" class="cn.luwanglin.springframework.test.bean.UserServiceBeforeAdvice"/>
    <bean id="methodInterceptor" class="cn.luwanglin.springframework.aop.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    <bean id="pointcutAdvisor" class="cn.luwanglin.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="methodInterceptor"/>
        <property name="expression" value="execution(* cn.luwanglin.springframework.test.bean.IUserService.*(..))"/>
    </bean>

</beans>